@model TicketSalesSystem.ViewModels.FilmViewModel

<h2>Create a new film</h2>
<form method="post" asp-controller="Film" asp-action="CreateFilm">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description"></label><br />
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
</form>