@model TicketSalesSystem.ViewModels.FilmDetailsViewModel;

@{
    ViewData["Title"] = "Film details";
}

<p>
    <h1>@Model.Name</h1>
</p>

<p>
    Description:
</p>

<p>@Model.Description</p>
<a asp-action="Index">Back</a>