@model TicketSalesSystem.ViewModels.FilmDetailsViewModel;

@{
    ViewData["Title"] = "Film details";
}

<p>
    <h1>@Model.Name</h1>
</p>

<p>
    Description:
</p>

<p>@Model.Description</p>

<p>
    <a asp-controller="Session" asp-action="CreateSession" asp-route-id="@Model.Id">Add a new session</a>
</p>
<a asp-action="Index">Back</a>