@model Domain.Entities.ViewModels.CinemaViewModel;

<h2>Create a new cinema</h2>
<form method="post" asp-controller="Cinema" asp-action="CreateCinema">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <input type="submit" value="Create" />
    </div>
    <div>
        <a asp-action="Index">Back</a>
    </div>
</form>